
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}.top-head{
    background-color:#5624d0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 18px;
    height:60px;
    font-weight: bold;
}
a {  
    color: #ffffff;
}
.light-head{
    font-weight: lighter;
    text-decoration:underline;
    text-underline-offset: 0.4rem;
    color: #ffffff;
    font-size: inherit;}

.light-head:hover{
    opacity: 80%;
}
.nav-section{
    box-shadow:  0px 3px 6px rgba(19, 19, 19, 0.4);
}
  .nav-section, .udemy-list{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
   height: 70px;
   background-color: #ffffff;
   text-decoration: none;
    list-style: none; 
    
}
#logo{
 width: 100px;  
 margin: 10px; 
}
.lis{
    display: flex;
    margin-left:-60px;
    margin-right: 5px;
    list-style: none;
}
.list{
    padding: auto;
    margin: 10px;
    
    position: relative;
    bottom: -15px;
    font-size: 15px;
}
.fa-star{
 font-size: 10px;
 position: relative;
 bottom: 2px;
 left: 5px;
 color: gold;
}
.fa-search{
position: relative;
padding: 26px;
right: 480px;
color:#726c6c;
}
.fa-shopping-cart{
    padding: 25px 0px;
    margin-right: 5px ;
}
.fa-globe{
  background-color: white;
  border: 1px solid #000000 ;
  margin:auto ;
  height: 40px;
  padding: 10px;
}
button{
    width:70px;
    height: 40px;
    border: 1px solid #000000;
    padding: auto;
    margin: auto;
    font-weight: bold;
   position:relative;
   right: 0px;
   left: 5px; 

}
#sign-up{
    background-color: #000000;
    color: #ffffff;
    right: 20px;
}
.border{
    border: 1px solid black;
}
#search-bar{
 background-color:rgb(222, 221, 221) ;
 width: 70vh;
 justify-content: center;
 height:50px;
 border: 1px solid #000000;
 border-radius: 25px;
 margin: 10px;
 text-align: left;
 padding-top: 15px;
 padding-left: 40px;
}

 #hero-text{
     background-color: #ffffff;
     max-width:65vh;
     height: 30vh;
     color:#000000;
     position:relative;
     top: -340px;
     font-weight: lighter;
     margin-left: 70px;
     box-shadow:  0px 3px 5px rgba(19, 19, 19, 0.2);
     padding: 30px;
     justify-content: center;
     text-align: left;
     font-size: 22px;
     line-height: 2rem;
}

#bold-tag{
    font-size: 32px;
    font-weight: 900;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
   display: inline-block;
   line-height: 2.5rem; 
}
.tech-list{
 position: relative;  
 top: -150px;
 text-align: left;
 
}
.tech-list > h1{
    font-size: 40px;
    margin-left: 20px;
   
    
}
.tech-list > p{
    font-size: 22px;
    padding: 10px;
    margin-left: 10px ;
}
.tech-list > ul{
    display: flex;
    flex-direction: row;
    justify-content:flex-start ;
    margin: 10px 0px;
   padding: 20px;

}

.tech-list li{
    color: rgb(93, 104, 104);
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
    list-style: none;
    text-decoration: none;
}
#python-black{
    color: black;
}
    

.border-wrapper{
    border: 1px solid #2f2e2e;
    padding: 20px;
    position: relative ;
    bottom: 185px;
    margin:20px;
}
.border-wrapper > p {
  margin-top: 10px;
  width: 50%;
}
.border-wrapper > button{
    width:120px;
    margin: 15px 0px;
}   

.image-wrapper{
   display: flex;
   
   margin-left: -10px;
   overflow: hidden; 
   
}
.image-text h1{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 1;
    font-weight: 550;
}
.image-wrap, .top-image:hover{
 margin: 10px 5px 5px 5px;
 padding:5px ;
 z-index: 2;
 transform: scale(1.1); 
  
}

.bestseller{
 background-color: #eceb98;;
 padding: 6px;
 margin: 5px 0px;
 width: 28%;
 height: 25px;
 font-size: 13px;
}
 .top-images{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin:20px;
 }
 .top-categories{
    margin: 80px 0px;
 }
 #category-h1{
    font-size: 24px;
    margin-left: 25px;
    margin-bottom: -15px;
    margin-top: 10px;
   
 }
 .teams{
    margin-left: 20px;
 }
.top-image h1{
 font-size: 18px;
 padding: 5px 0px;
}
.top-image{
    margin: 10px;
}

.image-wrapper img{
    margin-bottom:0px;
}
.image-wrapper h1{
    font-size: 20px;
    width:240px;
    flex-wrap: wrap;
    margin: 5px 0px;
}
.image-wrapper span{
    font-size: 16px;
    padding-bottom: 2px;
}
.rating{
    width: 150px;
    justify-content: left;
    text-align: center;
    align-items: center;
}
.student-border{
    margin-left: 30px;
    margin-top: -140px;
}
#student{
    margin: 8px 0px;
    font-size: 26px;
}
.instructor{
    margin: 35px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.instructor-image{
    margin-left: 160px;
}
.instruct{
    margin-left: 40px;
  margin-top: 20px;
    text-align: left;
}
.instruct h1{
    font-size:36px;
    margin-bottom: 15px;
   }
.instruct > p{
    font-size: 20px;
    width: 50%;
    justify-content: left;
    padding: 10px 0px;
  
}
.instructor button{
    width: 230px;
    height: 50px;
    background-color: #000000;
    margin: 10px 0px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
}
.instructor-girl{
    margin-right:280px;
}
.udemy-svg{
    margin-bottom: -55px;
}
#girl{
    margin-left: 200px;
    width: 2000px;

}
#girl > p{
    width: 100%;
}
.teams{
    background-color: #f7f9fa;
    align-items: center;
    margin: 10px 0px;
    padding: 20px;
    text-align: center;
    
}
.team-image{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
.teams p{
    padding: 10px 0px;
    font-size: 20px;
}
#education{
    width: 30%;
}
#education > p{
    width: 100%;
}
#education > button{
    width: 35%;
}
.footer{
    background-color: #1c1d1f;
    margin-bottom: 0px;
}
.footer-list a{
    color: #ffffff;
    text-decoration: none;
}
.footer-list a:hover{
    text-decoration: underline;
}

.footer-list{
    display: flex;
    margin: 5px 20px;
    list-style: none;
}
.foot-list{
    list-style: none;
    padding: 50px 80px;
}
.foot-list > li{
    margin-bottom: 10px;
   }
.globe{
    background-color:#1c1d1f; ;
    color: #ffffff;
    border: 2px solid white;
    width: 150px;
    height: 40px;
    padding: 10px;
    margin:-80px 90px ;
    font-size: 16px;
}
.globe-button{
    background-color: #1c1d1f;
    border: #1c1d1f;
}
.footer-image, .footer-image > img{
    display: flex;
    margin: 5px 50px;
    justify-content: space-between;
    color:  #3e4143;
    align-items: center;
}